* {
    margin: 0%;
    padding: 0%;
}

body{
    background-size: cover;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.userlogin {
    background-color: #855bf0;
    width: 600px;
    height: 50px;
    text-align: center;
    border-radius: 15px solid rgb(158, 234, 16);
    margin-top: 10%;
    margin: 15px;
    border-radius: 20px;
}

.title{
    font-size: 28px;
    font-style:normal;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(6, 6, 14);

}

.passwordlogin {
    background-color:rgb(78, 82, 190);
    width: 600px;
    height: 50px;
    text-align: center;
    border-radius: 15px solid rgb(0, 0, 0);
    margin-top: 10%;
    margin: 15px;
    border-radius: 20px;

}

.userid{
    margin-right: 5px;
    margin-left: 50px;
    padding-left: 5px;
    float: center;

    height: 25px;
    width: 300px;
    border: solid 2px #000000;
    border-radius: 10px;
    justify-items: center;
}

.buttons{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button{
    border-radius: 15px;
    width: 130px;
    height: 35px;
}

.buttons img {
    width: 10px;
    height: 10px;
}
header{
    background-color: lemonchiffon;
    margin-top: 10%;
    margin: 15px;
    border-radius: 20px;
    width: 30%;
    text-align: center;
}