body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;
    background-color: #EBE27D;
    padding: 1px;
    height: min-content;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    background-color: #000000;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
    width: 70%;
    align-self: center;
    border: rgb(162, 104, 29) 2px solid;
}
a{
    border-radius: 5px;
  padding: 15px;
  text-decoration: none;
  color: #1DD767;
  background-color: #87F1B4;
  margin: 5px;
  font-family: monospace;
  font-size: 200%;
}
nav ul{
    list-style: none;
    display: inline-block;
 }

 nav ul li{
     float: left;
     text-decoration: none;
 }

 nav ul li a {
     font-weight: bold;
 }
 nav ul li a:hover{
   background-color: #0D7738;
 }
 p{
    text-align:justify;
    margin: 2%;
    color: #000000;
 }
 div{
    background-color: #EBE27D;
    padding: 10px;
    margin: 25px;
    border-radius: 10px;
    text-align: center;
    width: 78%;
    align-self: center;
 }
 div ul{
    list-style: none;
    display: inline-block;
 }
 div ul li
 {
    float: left;
    text-decoration: none;
 }
.contenedor-imagenes{
    display: inline;
}
div div {
    background-color: #5A7EA7;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    align-self: center;
}
div h1{
    background-color: #5A7EA7;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    align-self: center;
}
div h2{
 text-align: left;
}
img{
    transition: -webkit-transform 0.5s;
}
img:hover {
    -webkit-transform: rotate(360deg);transform: rotate(360deg);
}